main{
    width: 100%;
    background-image: url(../img/cork.png);
    background-size: cover;
    background-position: center;
}

#container{
    margin: 0 auto;    
    width: 60%;
}


header{
 background-image: url(../img/wall.png);
 padding: 50px 0;
}

h1{
    text-align: center;
}
