header{
 background-image: url(../img/wall.png);
 padding: 50px 0;
}

h1{
    text-align: center;
}


main{
    width: 100%;
    background-image: url(../img/cork.png);
    background-size: cover;
    background-position: center;
}

#container{
    margin: 0 auto;    
    width: 80%;
}

.single-card-container{
    padding: 20px!important;
}
.card{
    padding-top: 15px;
    padding-bottom: 30px ;
    border-radius: 0!important;

}

.card img{
    width: 90%;
    margin: 0 auto;
}

.photo-description{
    text-align: center;
}


#pin{
 width: 30px;
}