header{
 background-image: url(../img/wall.png);
 padding: 30px 0;
}

h1 , h6{
    text-align: center;
    font-family: "Edu TAS Beginner", sans-serif;
}

.btn-card{
    background-color: transparent;
    border: 0;
}
h1{
    font-size: 3rem!important;
}

main{
    width: 100%;
    background-image: url(../img/cork.png);
    height: 100%;
    background-size: cover;
}

#container{
    margin: 0 auto;    
    width: 80%;
}


.card{
    padding-top: 15px;
    padding-bottom: 30px ;
    border-radius: 0!important;

}

.btn-card:hover{
    transform: rotate(25deg);
    transition: 0.3s;

}

.btn-card:hover #pin{
    display: none;
}

.card img{
    width: 90%;
    margin: 0 auto;
}

p{
    text-align: center;
    font-family: "Sometype Mono", monospace;

}


#pin{
 width: 30px;
}

#img-overlay{
    width: 600px;
}