header{
 background-image: url(../img/wall.png);
 padding: 30px 0;
}

h1 , h6{
    text-align: center;
    font-family: "Edu TAS Beginner", sans-serif;
}

h1{
    font-size: 3rem!important;
}

main{
    width: 100%;
    background-image: url(../img/cork.png);
    background-size: cover;
    background-position: center;
}

#container{
    margin: 0 auto;    
    width: 80%;
}


.card{
    padding-top: 15px;
    padding-bottom: 30px ;
    border-radius: 0!important;
    border: 1px solid rgb(124, 124, 124);
  box-shadow: 2px 2px;

}

.card img{
    width: 90%;
    margin: 0 auto;
}

p{
    text-align: center;
    font-family: "Sometype Mono", monospace;

}


#pin{
 width: 30px;
}